############
## Local and temporary files
############

# Database
*.sqlite3

# Collected static files
/static/

############
## Python
############
 
*.pyc
__pycache__/


############
## IDE
############

.idea/